<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
		<h2>Firmy</h2>
		<div class="list-group overflow-window">
	        <a href class="list-group-item" ng-repeat="company in companies" ng-click="selectCompany(this)" ng-class="{active: company.companyName==selectedCompany.companyName}">
	        	<span style="font-weight: bold;">{{company.companyName}}
	        </a>
	     </div>
	     <a class="btn btn-success" ng-click="addCompany()">Dodaj firmę</a>
	</div>

	<div class="col-sm-6" ng-hide="editMode">
		<h2>Dane kontaktowe</h2>
		<form class="form-horizontal" style="background-color: #F8F8F8; border-radius: 15px; padding-top: 30px;">
		    <fieldset>
		    <h4 style="padding-left: 5px; border-bottom-style: solid;border-bottom-width: 1px;">Dane firmy</h4>
		      <div class="form-group">
		        <label class="col-sm-2 control-label">Nazwa firmy</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.companyName}}</p>
		        </div>
		      </div>

		      <div class="form-group">
		        <label class="col-sm-2 control-label">KRS</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.krs}}</p>
		        </div>
		      </div>

		      <div class="form-group">
		        <label class="col-sm-2 control-label">REGON</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.regon}}</p>
		        </div>
		      </div>

		     <div class="form-group">
		        <label class="col-sm-2 control-label">Kategorie</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.categories}}</p>
		        </div>
		      </div>

		     <div class="form-group">
		        <label class="col-sm-2 control-label">Uprawnienia</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.allowedRoles}}</p>
		        </div>
		      </div>
		      <br/>

		      <h4 style="padding-left: 5px; border-bottom-style: solid;border-bottom-width: 1px;">Osoba kontaktowa</h4>

		     <div class="form-group">
		        <label class="col-sm-2 control-label">Imię</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.contactPerson.name}}</p>
		        </div>
		      </div>

		     <div class="form-group">
		        <label class="col-sm-2 control-label">Nazwisko</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.contactPerson.surname}}</p>
		        </div>
		      </div>

		     <div class="form-group">
		        <label class="col-sm-2 control-label">Email</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.contactPerson.email}}</p>
		        </div>
		      </div>

		     <div class="form-group">
		        <label class="col-sm-2 control-label">Telefon</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.contactPerson.contactPhone}}</p>
		        </div>
		      </div>

		     <div class="form-group">
		        <label class="col-sm-2 control-label">Pozycja</label>
		        <div class="col-sm-10">
					<p style="margin-top: 10px;">{{selectedCompany.contactPerson.position}}</p>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="col-sm-10 col-sm-offset-1">
					<a class="btn btn-warning" ng-click="edit()">Edytuj</a>
					<a class="btn btn-danger" ng-click="deleteCompany()">Usuń</a>
		        </div>
		      </div>

		    </fieldset>
		  </form>
	</div>


	<div class="col-sm-6" ng-show="editMode">
		<h2>{{formLabel}} firmy</h2>
		<form class="form-horizontal" style="background-color: #F8F8F8; border-radius: 15px; padding-top: 30px;" id="add-company-form">
		    <fieldset>

		      <h4 style="padding-left: 5px; border-bottom-style: solid;border-bottom-width: 1px;">Dane firmy</h4>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Nazwa firmy</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="Nazwa firmy" value="{{selectedCompany.companyName}}" ng-model="selectedCompany.companyName" required>
		        </div>
		      </div>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">KRS</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="KRS" value="{{selectedCompany.krs}}" ng-model="selectedCompany.krs" required>
		        </div>
		      </div>

		     <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">REGON</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="REGON" value="{{selectedCompany.regon}}" ng-model="selectedCompany.regon" required>
		        </div>
		      </div>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Kategorie</label>
		        <div class="col-sm-3">
		        	<select multiple class="form-control">
		        		<option ng-repeat="cat in categoriesTree" ng-click="rootCat(this)">{{cat.id}}</option>
		        	</select>
		        </div>
		        <div class="col-sm-3">
		        	<select multiple class="form-control">
		        		<option ng-repeat="scat in secondLevelCat" ng-click="sCat(this)" ng-dblclick="addCat(scat)">{{scat.id}}</option>
		        	</select>
		        </div>
		        <div class="col-sm-3">
		        	<select multiple class="form-control">
		        		<option ng-repeat="tcat in thirdLevelCat" ng-dblclick="addCat(tcat)">{{tcat.id}}</option>
		        	</select>
		        </div>
		      </div>

		      <div class="form-group">
		      	<ul class="list-group col-sm-9 col-sm-offset-2">
	                <li class="list-group-item" ng-repeat="cat in choosenCats" >
	                	{{cat}}
	                	<a class="pull-right btn btn-danger btn-xs" ng-click="removeCat(cat)"><span class="glyphicon glyphicon-remove"></span></a>
	                </li>
              	</ul>
		      </div>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Uprawnienia</label>
		        <div class="col-sm-9">
					<select multiple="" class="form-control">
                        <option ng-repeat="role in roles">{{role}}</option>
					</select>
		        </div>
		      </div>

		      <h4 style="padding-left: 5px; border-bottom-style: solid;border-bottom-width: 1px;">Osoba kontaktowa</h4>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Imię</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="Imię" value="{{selectedCompany.contactPerson.name}}" ng-model="selectedCompany.contactPerson.name" required>
		        </div>
		      </div>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Nazwisko</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="Nazwisko" value="{{selectedCompany.contactPerson.surname}}" ng-model="selectedCompany.contactPerson.surname" required>
		        </div>
		      </div>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="Email" value="{{selectedCompany.contactPerson.email}}" ng-model="selectedCompany.contactPerson.email" required>
		        </div>
		      </div>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Telefon</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="Telefon" value="{{selectedCompany.contactPerson.contactPhone}}" ng-model="selectedCompany.contactPerson.contactPhone" required>
		        </div>
		      </div>

		      <div class="form-group">
		        <label for="inputEmail" class="col-sm-2 control-label">Pozycja</label>
		        <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputEmail" placeholder="Pozycja" value="{{selectedCompany.contactPerson.position}}" ng-model="selectedCompany.contactPerson.position" required>
		        </div>
		      </div>		

		      <div class="form-group">
		        <div class="col-sm-10 col-sm-offset-1">
		          <button type="reset" class="btn btn-default" ng-click="cancelEdit()">Anuluj</button>
		          <button type="submit" class="btn btn-primary" ng-click="saveCompany()">Zapisz</button>
		        </div>
		      </div>

		    </fieldset>
		  </form>
	</div>
</div>