  <form class="form-signin" style="margin-top: 100px;">
    <h2 class="form-signin-heading">Logowanie</h2>
    <label for="inputEmail" class="sr-only">Nazwa użytkownika</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Nazwa użytkownika" required autofocus ng-model="userLogin">
    <label for="inputPassword" class="sr-only">Hasło</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required ng-model="userPassword">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Zapamiętaj
      </label>
    </div>
    <a class="btn btn-lg btn-primary btn-block" href ng-click="login()">Zaloguj</a>
    <br/>
    <p ng-show="error" style="color: red; font-size: 18px;">Nieprawidłowe dane logowania</p>
  </form>